/* SET UP GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 900px;
    margin: auto;
}

.container.flex{
    display: flex;
}

.blu-buttom{
    border-radius: 20px;
    background-color: #4154fe;
    border: 2px solid  #4154fe;
    color: #ffffff;
    padding: 8px 14px;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
}

.blu-buttom:hover{
    background-color: #ec5a57;
    border: 2px solid  #ec5a57;
}

.trasparente-buttom{
    border-radius: 20px;
    border: 1px solid  #78787a;
    background-color: inherit;
    color: #ffffff;
    padding: 9px 15px;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
}

.trasparente-buttom:hover{
    background-color: #ffffff;
    border: 1px solid  #ffffff;
    color: #060606;
}

.play-circle{
    color: #4154fe;
    border: 1px solid #ffffff;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.play-circle.small-circle{
    padding: 20px;
}

.separator-yellow{
    color: #fff941;
    font-size: 50px;
}

.separator-white{
    color: #ffffff;
    font-size: 30px;
}

/* HEADER */

header{
    background-color: #060606;
    height: 70px;
}

.container.double{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-right ul, .header-right ul li{
    display: inline-block;
    cursor: pointer;
}

.header-right ul li, .header-right button, .header-right i{
    margin-left: 20px;
}

.header-right ul li:hover{
    color: #ffffff;
}

.header-right{
    color: #bcbcbc;
    font-size: 13px;
}

.header-right span{
    border: 1px solid #fff941;
    padding: 2px;
    background-color: #fff941;
    border-radius: 2px;
    font-size: 10px;
    color: #060606;
    margin-left: 4px;
    cursor: pointer;
}

.header-right i{
    font-size: 11px;
    cursor: pointer;
}

.header-right i:hover{
    color: #ffffff;
}

/* MAIN */

/* TAKE CONTROL */

.take-control{
    height: 480px;
    background-image: url("immagini/slider82x-scaled.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.take-control::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #060607 45%,rgba(6,6,7,0) 75%);
    width: 100%;
    height: 100%;
}

.take-control-text{
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 1000px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.take-control-text h4{
    color: #bc0428;
    margin-bottom: 15px;
}

.take-control-text h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 8px;
}

.take-control-text span{
    color:  #bcbcbc;
    margin: 20px 0px;
    font-size: 13px;
}

.take-control-text.bottoni{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.take-control-text button{
    margin-right: 10px;
}

.take-control-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

/*  TYPE FITNESS */

.type-fitness{
    height: 650px;
    background: rgb(65,84,254);
    background: linear-gradient(156deg, rgba(65,84,254,1) 0%, rgba(188,4,40,1) 100%);
}

.type-fitness-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-fitness-top{
    display: flex;
}

.type-fitness-img{
    width: 280px;
    height: 280px;
    margin: 0px 20px;
    position: relative;
    margin-top: -50px;
}


.type-fitness-img img{
    width: 100%;
    height: 100%;
    border: 1px;
    border-radius: 3px 3px 20px 3px;
}

.type-fitness-img i{
    position: absolute;
    top: 170px;
    left: 25px;
}

.type-fitness-img span{
    position: absolute;
    top: 200px;
    left: 25px;
    color: #ffffff;
    font-size: 20px;
}

.type-fitness-img p{
    position: absolute;
    top: 225px;
    left: 25px;
    color: #fff941;
    font-size: 15px;
}

.type-fitness-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 600px;
}

.type-fitness-bottom p{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.type-fitness-bottom i{
    text-align: center;
    margin-top: 8px;
}

.type-fitness-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-fitness-footer img{
    margin: 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.type-fitness-footer span.name{
    color: #ffffff;
    font-weight: bold;
}

.type-fitness-footer span{
    color: #bcbcbc;
    font-size: 13px;
    margin-right: 10px;
}

/* FITNESS ONLINE */

.fitness-online{
    background-color: #ffffff;
    height: 500px;
    display: flex;
}

.fitness-online-left{
    width: 50%;
    height: 100%;
    margin-top: -40px;
    position: relative;
}

.fitness-online-left img{
    width: 100%;
    height: 100%;
    border-radius: 0px 3px 20px 0px;
}

.fitness-online-left i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fitness-online-right{
    width: 50%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 70px;
}

.fitness-online-right h4{
    color: #4154fe;
    margin-bottom: 15px;
}

.fitness-online-right h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 15px;
}

.fitness-online-right img{
    width: 30px;
    height: 30px;
}

.fitness-online-right span{
    color:  #bcbcbc;
    margin: 20px 0px;
    font-size: 13px;
}

.red-button{
    background-color: #ec5a57;
    border: 2px solid  #ec5a57;
    border-radius: 20px;
    color: #ffffff;
    padding: 8px 14px;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
}

.red-button:hover{
    background-color: #bc0428;
    border: 2px solid  #bc0428;
}

.immagini-fitness-online{
    display: flex;
    justify-content: center;
    align-items: center;
}

.immagine-right{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;;
}

.immagine-right small{
    font-size: 10px;
    color: #bcbcbc;
}

.youtube{
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 10px;
    color: black;
}

.youtube-text{
    background-color: #e62020;
    padding: 2px 4px;
}

.youtube-number{
    background-color: white;
    padding: 2px 4px;
}

.youtube p{
    display: inline-block;
}


/* PALYLIST */

.playlist{
    background-color: #ffffff;
    height: 400px;
    margin-top: 30px;
}

.playlist-container{
    display: flex;
    flex-direction: column;
}

.playlist-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.playlist-top p{
    color: #060606;
    font-size: 15px;
    font-weight: bold;
}

.playlist-top span{
    color: #78787a;
    font-size: 10px;
    cursor: pointer;
}

.playlist-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-bottom-img{
    width: 280px;
    height: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playlist-bottom-img img{
    width: 100%;
    height: 100%;
    border: 1px;
    border-radius: 3px 3px 20px 3px;
}

.playlist-bottom-img i{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlist-bottom p{
    margin-top: 10px;
    font-weight: 400;
    color: #060606;
    font-size: 14px;
}

.playlist-bottom span{
    margin-top: 8px;
    color: #4154fe;
    font-size: 10px;
}

/* SUBSCRIBE */

.subscribe{
    height: 480px;
    background-image: url("immagini/banner1-2x.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.subscribe::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(85deg, rgba(6,6,6,1) 39%, rgba(6,6,6,0.8211659663865546) 55%, rgba(6,6,6,0) 100%);
    width: 100%;
    height: 100%;
}

.subscribe-text{
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 1000px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subscribe-text h4{
    color: #bc0428;
    margin-bottom: 15px;
}

.subscribe-text h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 15px;
}

.subscribe-text span{
    color:  #bcbcbc;
    margin-top: 20px;
    font-size: 13px;
}

.subscribe-text i{
    margin-bottom: 15px;
}

.box-input{
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid  #ffffff;
    background-color: #ffffff;
    display: inline-block;
    width: 400px;
    height: 32px;
}

.subscribe-text input{
    color: #bcbcbc;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
    border: none;
    padding: 8px 10px;
    border-radius: 20px;
}

.large-button{
    padding: 8px 50px;
}

/* PLAN FITNESS */

.plan-fitness{
    height: 500px;
    background-color: #060606;
}

.container-plan-fitness{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-plan-fitness{
    margin-top: 50px;
    border: 4px solid #4154fe;
    border-radius: 4px;
    width: calc(900px - 60px - 28px);
    height: 400px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-plan-fitness i{
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 15px;
}

.box-plan-fitness span{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 6px;
}

.box-plan-fitness p{
    color: #fff941;
    font-size: 15px;
    margin-bottom: 20px;
}

.box-plan-fitness small{
    color: #bcbcbc;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: lighter;
    text-align: center;
    line-height: 22px;
}

.box-plan-fitness a{
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

.box-plan-fitness i.small-icon{
    font-size: 13px;
}

/* ARTICLE */

.article{
    background-color: #ffffff;
    height: 400px;
    margin-top: 80px;
}

.article-container{
    display: flex;
    flex-direction: column;
}

.article-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-top p{
    color: #060606;
    font-size: 15px;
    font-weight: bold;
}

.article-top span{
    color: #78787a;
    font-size: 10px;
    cursor: pointer;
}

.article-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.article-bottom-img{
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.article-bottom-img img{
    width: 100%;
    height: 100%;
}

.article-bottom p{
    margin-top: 10px;
    font-weight: bold;
    color: #060606;
    font-size: 16px;
}

.article-bottom span{
    margin-top: 8px;
    color: #78787a;
    font-size: 12px;
}

/* BUY */

.buy{
    height: 480px;
    background-image: url("immagini/banner2-2x.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.buy::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(2,14,10,0.3925945378151261) 100%);
    width: 100%;
    height: 100%;
}

.buy-text{
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 900px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-text p{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.buy-text i{
    margin-bottom: 10px;
}

.buy-text span{
    color:  #bcbcbc;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

/* SPONSOR */

.sponsor{
    height: 300px;
    background-color: #ffffff;
}

.sponsor-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-sponsor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    margin-left: 20px;
}

.box-sponsor img{
    width: 100px;
    height: 51.5px;
    margin-bottom: 20px;
}

.box-sponsor span{
    color:  #78787a;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

.box-sponsor a{
    color: #060606;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

/* WORKOUT */

.workout{
    height: 480px;
    background-image: url("immagini/banner14-2x.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.workout::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(313deg, rgba(139,0,139,1) 0%, rgba(96,49,100,0.5354516806722689) 36%, rgba(77,39,145,0.6446953781512605) 77%, rgba(0,0,219,1) 100%);
    width: 100%;
    height: 100%;
}

.workout-text{
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 900px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-text p{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
}

.workout-text span{
    color:  #fff941;
    margin-bottom: 20px;
    font-size: 25px;
}

.workout-text small{
    color:  #ffffff;
    font-size: 15px;
    cursor: pointer;
}

/* FOOTER */

footer{
    height: 500px;
    background-color: #060606;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-top{
    border-bottom: 1px solid #bcbcbc;
    height: 400px;
}

.footer-bottom{
    height: 100px;
}
