/* SET UP GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 1000px;
    margin: auto;
}

.container.flex{
    display: flex;
}

.blu-buttom{
    border-radius: 20px;
    background-color: #4154fe;
    border: 2px solid  #4154fe;
    color: #ffffff;
    padding: 8px 14px;
    font-size: 11px;
    cursor: pointer;
}

.blu-buttom:hover{
    background-color: #ec5a57;
    border: 2px solid  #ec5a57;
}

.trasparente-buttom{
    border-radius: 20px;
    border: 1px solid  #78787a;
    background-color: inherit;
    color: #ffffff;
    padding: 9px 15px;
    font-size: 11px;
    cursor: pointer;
}

.trasparente-buttom:hover{
    background-color: #ffffff;
    border: 1px solid  #ffffff;
    color: #060606;
}

.play-circle{
    color: #4154fe;
    border: 1px solid #ffffff;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}

/* HEADER */

header{
    background-color: #060606;
    height: 70px;
}

.container.double{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-right ul, .header-right ul li{
    display: inline-block;
    cursor: pointer;
}

.header-right ul li, .header-right button, .header-right i{
    margin-left: 20px;
}

.header-right ul li:hover{
    color: #ffffff;
}

.header-right{
    color: #bcbcbc;
    font-size: 13px;
}

.header-right span{
    border: 1px solid #fff700;
    padding: 2px;
    background-color: #fff700;
    border-radius: 2px;
    font-size: 10px;
    color: #060606;
    margin-left: 4px;
    cursor: pointer;
}

.header-right i{
    font-size: 11px;
    cursor: pointer;
}

.header-right i:hover{
    color: #ffffff;
}

/* MAIN */

/* TAKE CONTROL */

.take-control{
    height: 480px;
    background-image: url("immagini/slider82x-scaled.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.take-control::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(85deg, rgba(6,6,6,1) 39%, rgba(6,6,6,0.8211659663865546) 55%, rgba(6,6,6,0) 100%);
    width: 100%;
    height: 100%;
}

.take-control-text{
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 1000px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.take-control-text h4{
    color: #bc0428;
    margin-bottom: 15px;
}

.take-control-text h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 15px;
}

.take-control-text span{
    color:  #bcbcbc;
    margin-bottom: 20px;
    font-size: 13px;
}

.take-control-text.bottoni{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.take-control-text button{
    margin-right: 10px;
}

.take-control-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

/*  TYPE FITNESS */

.type-fitness{
    height: 650px;
    background: rgb(65,84,254);
    background: linear-gradient(156deg, rgba(65,84,254,1) 0%, rgba(188,4,40,1) 100%);
}

.type-fitness-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-fitness-top{
    display: flex;
    margin-top: -50px;
}

.type-fitness-img{
    width: 280px;
    height: 280px;
    margin: 0px 20px;
    position: relative;
}

.type-fitness-img img{
    width: 100%;
    height: 100%;
    border: 1px;
    border-radius: 3px 3px 20px 3px;
}

.type-fitness-img span{
    position: absolute;
    top: 200px;
    left: 25px;
    color: #ffffff;
    font-size: 20px;
}

.type-fitness-img p{
    position: absolute;
    top: 225px;
    left: 25px;
    color: #fff700;
    font-size: 15px;
}

.type-fitness-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 600px;
}

.type-fitness-bottom p{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.type-fitness-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-fitness-footer img{
    margin: 20px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.type-fitness-footer span.name{
    color: #ffffff;
    font-weight: bold;
}

.type-fitness-footer span{
    color: #bcbcbc;
    font-size: 13px;
    margin-right: 10px;
}

/* FITNESS ONLINE */

.fitness-online{
    background-color: #ffffff;
    height: 500px;
    display: flex;
}

.fitness-online-left{
    width: 50%;
    height: 100%;
    margin-top: -40px;
    position: relative;
}

.fitness-online-left img{
    width: 100%;
    height: 100%;
    border-radius: 0px 3px 20px 0px;
}

.fitness-online-left i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fitness-online-right{
    width: 50%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 70px;
}

.fitness-online-right h4{
    color: #4154fe;
    margin-bottom: 15px;
}

.fitness-online-right h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 15px;
}

.fitness-online-right img{
    width: 30px;
    height: 30px;
}

.fitness-online-right span{
    color:  #bcbcbc;
    margin: 20px 0px;
    font-size: 13px;
}

.red-button{
    background-color: #ec5a57;
    border: 2px solid  #ec5a57;
    border-radius: 20px;
    color: #ffffff;
    padding: 8px 14px;
    font-size: 11px;
    cursor: pointer;
}

.red-button:hover{
    background-color: #bc0428;
    border: 2px solid  #bc0428;
}

.immagini-fitness-online{
    display: flex;
    justify-content: center;
    align-items: center;
}

.immagine-right{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;;
}

.immagine-right small{
    font-size: 10px;
    color: #bcbcbc;
}

.youtube{
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 10px;
    color: black;
}

.youtube-text{
    background-color: #e62020;
    padding: 2px 4px;
}

.youtube-number{
    background-color: white;
    padding: 2px 4px;
}

.youtube p{
    display: inline-block;
}


/* PALYLIST */

.playlist{
    background-color: #ffffff;
    height: 400px;
}
